/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*	Header Start*/
    header{
    padding: 26px 0;
}
.logo h1 {
    font-size: 25px;
}
.menu ul li a {
    padding: 18px 0 0 0 !important;
}
.c_btn {
    padding: 12spx 0;
}
/*Slider Start?*/
.slider {
    padding: 90px 0;
}
.c_indi {
    bottom: -80px;
}
.c_indi [data-bs-target] {
    background-color: var(--w);
}
.s_text{
    text-align: center;
}
.s_h1 {
    font-size: 27px;
}
.s_p {
    font-size: 15px;
    margin: 25px 0 35px 0;
}
/*Welcome Nipro Start*/
.nipro{
    padding-top: 60px;
}
.c_pad {
    padding-bottom: 50px;
}
.n_h1 {
    font-size: 27px;
}
.n_p {
    margin: 40px 0 0;
}
/*Feature Start*/
.f_item {
    margin: 60px 20px 0;
    padding: 55px 17px 30px 17px;
}
.f_icon {
    left: 96px;
}
.f_item p{
    margin-bottom: 30px;
}
/*About Us Start*/
.about_img{
    margin-bottom: 30px;
}

.about_text {
    text-align: center;
    margin-left: 0;
}

/*Portfolio Start*/
.p_h1 {
    margin-top: 45px;
    margin-bottom: 38px;
}
.p_ul li:not(:last-child) {
    margin-top: 18px;
}
.sport_item{
    text-align: center;
}
/*Why Choose Nipro Start*/
.c_h1 {
    font-size: 27px;
}
.ch_h1 {
    margin-top: 60px;
    margin-bottom: 30px;
}
.ch_htext {
    margin-top: 5px;
}
.ch_h2{
    margin-left: 0;
}
.ch_pad{
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.c_border{
    margin: 0 auto;
    width: 84%;
}
.ch_sp p{
    margin-top: 13px;
    margin-bottom: 27px !important;
}
/*Best Pricing Start*/
.bp_item {
    margin: 40px 20px 0 20px;
    padding: 40px 38px;
}
/**Personal Info Start**/
.pi_border {
    padding: 25px 25px;
}
.pi_img {
    padding: 0 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
}
.pi_text{
    text-align: center;
}
.pre{
    rotate: 0deg;
    top: 846px;
    left: 0;
}
 .next{
    rotate: 0deg;
    top: 846px;
    left: 226px;
}

.pi_indi{
    rotate: 0deg;
    right: 0;
    bottom: -92px;
}
.box {
    margin-top: 10px;
    padding: 20px;
}
.pad{
    padding: 0;
}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*	Header Start*/
.menu ul li a {
    padding: 20px 0 0 0 !important;
}
.c_btn {
    padding: 14px 0;
}
/*Slider Start?*/
.slider {
    padding: 100px 0;
}
.c_indi {
    bottom: -85px;
}
.c_indi [data-bs-target] {
    background-color: var(--w);
}
.s_h1 {
    font-size: 43px;
}
.s_p {
    padding-right: 10px;
    font-size: 15px;
    margin: 25px 0 35px 0;
    line-height: 28px;
}
/*Welcome Nipro Start*/
.nipro{
    padding-top: 70px;
}
.c_pad {
    padding-bottom: 50px;
}
.n_p {
    margin: 40px 0 0;
}
/*Feature Start**/
.f_item {
    padding: 55px 17px 30px 17px;
}
.f_icon {
    left: 92px;
}
.f_item p{
    margin-bottom: 30px;
}
/*About Us Start*/
.about_img{
    padding: 0 110px;
}
.about_text {
    text-align: center;
    padding: 50px 60px 0 60px;
}
/*Portfolio Start*/
.p_h1 {
    margin-top: 50px;
    margin-bottom: 60px;
}
/*Why Choose Nipro Start*/
.c_h1 {
    font-size: 28px;
}
.ch_h1 {
    margin-bottom: 30px;
}
.ch_icon{
    margin-left: 65px;
/*    text-align: right;*/
}
.ch_h2{
    margin-left: 0;
}
.ch_pad{
    margin: 0 auto;
    text-align: center;
}
.c_border{
    margin: 0 auto;
    width: 91%;
}
.ch_sp p{
    margin-top: 13px;
    margin-bottom: 27px !important;
}
/*Personal Info Start*/
.pi_border {
    padding: 28px 25px;
}
.pi_img {
    margin-top: 0;
    margin-bottom: 25px;
}
.pre{
    rotate: 0deg;
    top: 668px;
    left: 0;
}
 .next{
    rotate: 0deg;
    top: 668px;
    left: 412px;
}

.pi_indi{
    rotate: 0deg;
    right: 0;
    bottom: -92px;
}
.box {
    margin-top: 10px;
    padding: 20px;
}
.pad{
    padding: 0;
}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*	Header Start*/
.menu ul li a {
    padding: 20px 0 0 0 !important;
}
.c_btn {
    padding: 14px 0;
}
/*Slider Start*/
.slider{
    padding: 110px 0;

}
.c_indi {
    bottom: -85px;
}
.s_h1 {
    font-size: 53px;
}
/*Welcome Nipro Start*/
.nipro{
    padding-top: 80px;
}
.c_pad {
    padding-bottom: 60px;
}
/*Feature Start**/
.f_item {
    padding: 65px 17px 40px 17px;
}
.f_icon {
    left: 109px;
}
.f_item p{
    margin-bottom: 35px;
}
/*About Us Start*/
.about_img{
    padding: 0 110px;
}
.about_text {
    text-align: center;
    padding: 50px 60px 0 60px;
}
/*Portfolio Start*/
.p_h1 {
    margin-top: 65px;
    margin-bottom: 75px;
}
/*Why Choose Nipro Start*/
.ch_h1 {
    margin-bottom: 30px;
}
.ch_icon{
    text-align: right;
}
.ch_h2{
    margin-left: 13px;
}
.ch_pad{
    text-align: center;
}
.c_border{
    margin: 0 auto;
    width: 87%;
}
/*Best Pricing Start*/
.bp_item {
    padding: 40px 48px;
}
/*Personal Info Start*/
.pi_border {
    padding: 28px 25px;
}
.pi_img {
    margin-top: 0;
    margin-bottom: 25px;
}
.pre{
    rotate: 0deg;
    top: 607px;
    left: 0;
}
 .next{
    rotate: 0deg;
    top: 607px;
    left: 560px;
}


.pi_indi{
    rotate: 0deg;
    right: 0;
    bottom: -92px;
}
.box {
    margin-top: 10px;
    padding: 20px;
}
.pad{
    padding: 0;
}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
/*    Slider Start*/
.s_p {
    padding-right: 70px;s
}
/*Best Pricing Start*/
.bp_item {
    padding: 40px 24px;
}
.bp_title {
    left: 20px;
}
.bp_h2 {
    font-size: 29px;
}
.bp_item p {
    font-size: 15px;
}
}

/*Extra Large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
/*    SLider Start*/
.slider {
    padding: 155px 0;
}
/*    Feature Start*/
.f_item {
    padding: 65px 15px 40px 15px;
}
.f_icon {
    left: 102px;
}
/*Why Choose Nipro Start*/
.c_border{
    width: 99%;
}
/*Best Pricing Start*/
.bp_item {
    padding: 40px 40px;
}
/*Personal Info Start*/
.pre {
    left: 993px;

}
 .next{
    left: 993px;
}
.pi_indi {
    right: -1140px;
}
.box {
    padding: 180px 28px;
}
}

/*Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
/*    Feature Start*/
.f_item {
    padding: 65px 15px 40px 15px;
}
.f_icon {
    left: 122px;
}
/*Why Choose Nipro Start*/
.c_border{
    width: 93%;
}
/*Best Pricing Start*/
.bp_item {
    padding: 40px 55px;
}
.bps_btn {
    padding: 13px 30px;
}
/*Personal Info Start*/
.pre {
    left: 1153px;

}
 .next{
    left: 1153px;
}
.pi_indi {
    right: -1321px;
}
.box {
    padding: 202px 28px;
}
}